{% extends 'blogy/base.html' %}
{% load markup_tags %}

{% block content %}
  {% for post in object_list %}
    <article class="post">
      <header class="postheader">
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p class="postinfo"><time>{{ post.pub_date }}</time> | 0 comments</p>
      </header>
        {{ post.text|apply_markup:'restructuredtext'|truncatewords_html:90 }} <a href="{{ post.get_absolute_url }}">Read More</a>
    </article>
  {% endfor %}
{% endblock content %}
